<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Songs: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'orange' %>
  <%= javascript_include_tag :defaults %>
<%#= javascript_include_tag "prototype", "effects" %>
<%= javascript_include_tag "slider"%>
<%= javascript_include_tag "midi_slider.js" %>
</head>
<body>
<!-- This is the menu Area-->
<div id="menu"><h3>Main menu</h3>                                       
	 <ul>      
	  <li><%= link_to "Generate Music", :controller => "example" , :action => "write_text" %></li>
	<li><%= link_to "Theory", :controller => "main", :action => "theory" %></li>
			<li><%= link_to "About", :controller => "main", :action => "about" %></li>
		<li><%= link_to "Demo Videos", :controller => "main", :action => "video" %></li>   
		<li><a href="http://github.com/Gabrielg1976/text2midi/tree/master" target="new">Source Code</a></li>  
	</ul>
		<div id="midi_result">
		</div>
		<br/><br/>
		<center>
		    <!-- AddThis Button BEGIN -->
		<script type="text/javascript">var addthis_pub="gabrielg1976";</script>
		<a href="http://www.addthis.com/bookmark.php?v=20" onmouseover="return addthis_open(this, '', '[URL]', '[TITLE]')" onmouseout="addthis_close()" onclick="return addthis_sendto()"><img src="http://s7.addthis.com/static/btn/lg-share-en.gif" width="125" height="16" alt="Bookmark and Share" style="border:0"/></a><script type="text/javascript" src="http://s7.addthis.com/js/200/addthis_widget.js"></script>
		<!-- AddThis Button END -->
		</center>
		
	</div>	
	<!-- this is the yield of the application  -->
<div id="master">
	<h1></h1>    
     <%= yield %>
</div>

<!--  This is google stats section -->
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-2927276-13");
pageTracker._trackPageview();
} catch(err) {}</script>
    </body>
</html>
<%#= draggable_element "drag_item" %>
